* {
    font-family: 'Source Serif Pro', serif;
}

.top {
 background-image: url("/img/sb.jpg");
 text-align: center;
 color: white;
 font-weight: 700;
 background-repeat: no-repeat;
 background-attachment: scroll;
 background-position: center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 400px;
}

h1 {
    margin-top:15%;
    font-size: 325%
}

.get-news-btn {
    margin-top: 10%
}

.main-section, .modal-header {
    background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

a {
    color: rgb(0, 0, 0);
}

.modal-footer {
    background: FFFDE4;
}

.weather-box {
    border: solid 2px rgb(1, 162, 211);
    border-radius:5px;
    margin-top: 5%;
    margin-left:3%;
    text-align: center;
}